
<%- include("partials/header"); -%>
<h1>Home</h1>
<!--    Render variable key from  / route in ejs-->
<p> <%= startingContent %> </p>

<% console.log(posts); %>

<!-- loop through each seperate posts title which will be displayed-->

<% posts.forEach(function(post){ %>
    <% console.log(posts.title); %>
 <% })  %>


<%- include("partials/footer"); -%>