
<%- include("partials/header"); -%>
<h1>Home</h1>
<!--    Render variable key from  / route in ejs-->
<p> <%= startingContent %> </p>

<% console.log(posts); %>

<!-- loop through each seperate posts title which will be displayed-->
 <%for (var i=0; i < posts.length; i++){ %>
    <% console.log(posts[i].title); %>
 <% }; %>
<%- include("partials/footer"); -%>